/data/cityscapes/gtFine/
/data/cityscapes/leftImg8bit/
/data/cityscapes/gtFine/
/data/cityscapes/leftImg8bit/
/pretrained_models/imagenet/
/data/crack500/
/log
/output
**/__pycache__/
__pycache__/
models/best.pt

